.movie-thumbnail{
    width: 400px;
    margin: 10px;
}
.movie-overview{
    height: 80px;
    overflow-x: hidden;
    overflow-y: auto;

}
.movie-overview::-webkit-scrollbar{
    width: 2px;
    background: gray;
}
.movie-image{
    height: 600px;
}

.movie-actions{
    text-align: right;
}