.movie-thumbnail{
    width: 35vh;
    margin: 5px;
}
.movie-overview{
    height: 37px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 9px;
}
.movie-overview::-webkit-scrollbar{
    width: 2px;
    background: gray;
}
.movie-image{
    height: 40vh;
}

.movie-actions{
    text-align: right;
}
