<span>Update the commments for the movie {{data.obj.title}} </span>
<h4 mat-dialog-title>{{data.obj.title}} </h4>

<div mat-dialog-content>
    <p>Comments </p>
    <mat-form-field>
        <textarea id ="comments" matInput [(ngModel)]="comments"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button id="cancelComment" color= warn (click)="onNoClick()">Cancel</button>
    <button mat-button id="updateComment" color= warn (click)="updateComments()">Update</button>
</div>
